<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cooks List</title>
</head>
<body>
<nav>
    <a th:href="@{/home}">Home</a> |
    <a th:href="@{/home/order}">My Order</a> |
    <a th:href="@{/home/profile}">Profile</a>
</nav>

<h2>welcome to Ghar ka bawarchi</h2>
<h2>Hello , <span th:text="${user.fullName}"></span></h2>

<h3>my city is <span th:text="${user.city.cityName}"></span></h3><br><br>
<form th:action="@{/home/change-city}" th:object="${cityDto}" method="post">
    <label>change city</label>
    <select th:field="*{cityId}">
        <option value="">-- Select City --</option>
        <option th:each="c:${allCitys}"
                th:value="${c.cityId}"
                th:text="${c.cityName}">
        </option>
    </select>
    <button type="submit">Change City</button>
</form>
<br>
<br>


<table border="1">
    <tr>
        <th>Cook Name</th>
        <th>specialization</th>
        <th>contact info</th>
        <th>city name</th>
        <th>Details</th>
        <th></th>
    </tr>
    <tr th:each="cook : ${cooks}">
        <td th:text="${cook.cookName}"></td>
        <td th:text="${cook.specialization}"></td>
        <td th:text="${cook.contactInfo}"></td>
        <td th:text="${cook.city.cityName}"></td>
        <td><a th:href="@{/home/details}">view</a></td>
        <td><a th:href="@{/home/book/{id}(id=${cook.cookId})}">book</a></td>
    </tr>
</table>

<a th:href="@{/login}">logOut</a>
</body>
</html>